<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Index</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <div class="content-wrap">
    <a href="/tasks">Task List</a>
    </br>
    <h1>Group Index Page</h1>
    <a href="/groups/new">Add a group</a>
    <nav>
        <ul>
            <% groups.forEach((group, id) => { %>
                <li>
                    <a href="/groups/<%= group.id %>"><%= group.name %></a>
                    <p>Group Id: <%= group.id %></p>
                    
                    <!-- EDIT LINK -->
                    <a href="/groups/<%= group.id; %>/edit">Edit</a>
                    </br></br>
                </li>
            <% }) %>

        </ul>
    </nav>
</div>
    <%- include('../partials/footer') %>
</body>
</html>