<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <div class="content-wrap">
    <h1>Welcome <%=user.username%></h1>
    <p>User Id: <%=user.id%></p>

    <h3>Group Name: <a href="/groups/<%= user.Group.id %>"><%= user.Group.name %></a></h3>
    </br>

    <form action="/users/profile/<%=user.id%>?_method=PUT" method="POST">
        First Name: <input type="text" name="nameFirst" value="<%= user.nameFirst %>" /><br/>
        <br/>
        Last Name: <input type="text" name="nameLast" value="<%= user.nameLast %>" /><br/>
        <br/>
        Username: <input type="text" name="username" value="<%= user.username %>" ><br/>
        <br/>
        Password: <input type="text" name="password" value="<%= user.password %>" ><br/>
        <br/>
        Group Id: <input type="integer" name="groupId" value="<%= user.groupId %>" ></br>
        </br>
        <input type="submit" name="" value="Edit Profile"/>
    </form>
    <br/>
    <form action='/users/profile/<%=user.id%>?_method=DELETE' method=POST>
        <input type="submit" value="Delete User">
    </form>
    </br>
    <a href="/tasks">View All Tasks</a>
    </br>
    <a href="/groups">View All Groups</a>

    <h3>Tasks Added By You:</h3>
    <ul>
        <% for (let i=0; i< user.Tasks.length; i++){ %>
        <li>
            <a href="/tasks/<%=user.Tasks[i].id%>"><%=user.Tasks[i].name%></a>
        </li>
        <% } %>
    </ul>
    </div>
    <%- include('../partials/footer') %>
</body>
</html>